* {scroll-behavior: smooth;}
html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    padding: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;

}
body {
    
    color: white;
    margin: 0;
    padding: 0;
    background: url(bg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.header {
    height: 100vh;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
}

.header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
    font-weight: 1000;
    text-shadow: 2px 3px 8px rgba(0,0,0,1);
    
}

.vararr {
    font-size: 4vw !important;
} 

.vararr * {
    text-decoration: none;
    color: white;
}

.header p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 300%);
    font-size: 1vw;
    font-weight: 1000;
    text-shadow: 2px 3px 8px rgba(0,0,0,1);
}

.header_img{
    width: auto;
    height: 100%;
    
}

.container{
    position: relative;
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    width: 10px;
    z-index: 11;
  }

.container::-webkit-scrollbar-track {
    background-color: rgb(150, 135, 136);
  }
  
.container::-webkit-scrollbar-thumb {
    box-shadow: inset 1px 1px 6px rgb(77, 28, 28);
  }
.section{
    position: relative;
    background: #111111;
    line-height: 4vh;
    font-weight: lighter;
    padding: 40px;
    color: grey;
    height: 100vh;
    text-align: justify;
}
.section p{
    font-size: 2vh;

}

.index-content-text p{
    margin: 0%;
}
.index-content-text {
    padding: 3vh 5vh;
}
.test input{
    display: none;
}

.test-head {
    width: 70%;
    margin-left: 3vh;
}


.question {
    background-color: black;
    border: solid 10px black;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: bold;
    color: #bdbcc2;
}

.test-content {
    width: 70%;
    margin-left: 3vh;
    background-color: rgba(0, 0, 0, 0.05);
    border-top-right-radius: 25px;
    
}

input[type="radio"]:checked + label{
    background-color: rgba(0, 0, 0, 0.35);
    color: #bdbcc2;
    border-top-right-radius:50px ;
    border-bottom-right-radius: 50px;

}

.test label {
    transition: all ease .4s;
    cursor: pointer;
}
.test h1 {
    margin-top: 0;
}

#reset {
    display: none;
    float: right;
}
#ered {
    display: inline-block;
}

.btn-survey-end label{
    padding: .5rem 1rem ; 
    color: #111111;
    background-color: #bdbcc2;
    border-radius: 50px;
}

.answer label {
    padding: 0.5rem 1rem;
}

.sectionV p {
    font-size: 2vh;
}

.scroll{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.sublink {
    width: 33%;
    height: 100vh;
    box-sizing: border-box;
    display: inline-flex;
}
.sublink * {
    cursor: pointer;
}

.sublink-content {
    padding: 5rem 3rem;
    text-align: justify;
    border-radius: 25px;
    box-shadow: 0 10px 27px rgba(0,0,0,1);
    transition: .5s;
}

.sublink-content:hover {
    box-shadow: 0 10px 27px rgba(59, 59, 59, 0.4);
}

.sublink-content a {
    color: white;
    position: relative;
    text-decoration: none;
}

.sublink-content a::before {
    content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.sublink-content:hover a::before{
    transform-origin: left;
  transform: scaleX(1);
}


.c_example{
    background-color: rgb(173, 173, 173);
    color: black;
    font-weight: bold;
    font-size: 1.05vw;
    border-radius: 10px;
    margin: 2px;
    width: 32.7%;
    float: left;
    padding-left: 1px;
    line-height: 1.4;
    transition: 0.4s ease-in-out;
}
.c_example:hover{
    box-shadow: 0 10px 27px rgba(112, 112, 112, 0.7);
}

.example{
    color:#81529b;
    font-weight: 800;
    font-size: 1vw;
    text-shadow: 1px 1px 5px rgba(181,141,195,0.5);
    
}

nav {
    display: flex;
    padding: 1% 0%;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: calc(100vw - 10px);
    z-index: 10;
    height: 5vh;
    white-space: nowrap;
}




.nav-item{
    list-style-type: none;
    display: inline-block;
    margin: 0 4rem 0 4rem;
    
}

.nav-menu {
    display: flex;
    flex: 1;
    text-align: center;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.nav-menu a {
    font-size: 1.2rem;
    text-decoration: none;
    transition: 1s;
    color: white ;
    border: solid 2px white;
    border-radius: 3px;
    padding: .7rem 1.5rem;
    background: -webkit-linear-gradient(0deg,transparent 50%,white 50%);
    background-size: 4000px 80px;
}

.nav-menu a:hover {
    background-position: 350px 0px;
    color: black;
    text-shadow: 2px 3px 8px rgba(0,0,0,.6);
}




.hamburger {
    display: none;
    background-color: #fff;
    margin-left: 20px;
    width: 35px;
}

.bar {
    display: block;
    width: 35px;
    height: 4px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.codesnippet {
    display: inline-flex;
}

.codesnippet img {
    border: 5px solid #1c1c1c;
    border-radius: 15px;
    box-shadow: 2px 3px 8px rgba(0,0,0,.5);
    transform: translateY(40%);
    width: 100%;
}


.sectionV {
    position: relative;
    background: #111111;
    line-height: 4vh;
    font-weight: lighter;
    color: grey;
    text-align: justify;
    
}

.sectionV .content-var {
    padding: 1% 10%;
}

.content-var p,h3{
    padding-left: 1.5rem;
}

footer{
    background-color: #bdbcc2;
    height: 20vh;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    
}
.footer-items{
    
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1280px;
    height: 20vh;
    
}
.footer-column{
    display: flex;
    flex-direction: column;
    width: 33%;
    float: left;
    text-align: left;
    
}
.footer-label{
    color:#111111; 
    font-size: 20px;
    text-transform: uppercase;  
    font-weight: 600;
}
.footer-text{
    padding-top: 10px;
    padding-bottom: 15px;
    
    font-size: 14px;
    font-weight: 400;
    color: #111111;
}
.footer-bottom{
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid black;
    width: 90%;
    max-width: 1280px;
    margin-top: 20px;
}
.footer-link{
    margin-bottom: 10px;
    margin-top: 10px;
}
.footer-link a{
    text-decoration: none;
    color: #111111;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}

.alcim{
    padding: 0px;
    font-size: 1.5vw;
}
.nagycim{
    font-size: 2vw;
    color: white;
    text-shadow: 0 0 10px #FFFFFF;
}





iframe{
    border:none!important
}

.limiter{
    width:100%;
    margin:0 auto
}

 


.infobox table{
    border-spacing:1px;
    border-collapse:collapse;
    background:#fff;
    border-radius:10px;
    overflow:hidden;
    overflow-wrap: break-word;
    width:100%;
    margin:0 auto;
    position:relative
}



.infobox table *{
    position:relative
}

.infobox table td,table th{
    padding-left:8px
}

.infobox table thead tr{
    height:60px;
    background:#36304a
}

.infobox table tbody tr{
    height:50px
}

.infobox table tbody tr:last-child{
    border:0
}

.infobox table td,table th{
    text-align:left
}



 .table100-head th{
    font-size:18px;
    color:#fff;
    line-height:1.2;
    font-weight:unset
}

.infobox tbody tr:nth-child(even){
    background-color:#f5f5f5
}

.infobox tbody tr{
    font-size:15px;
    color:gray;
    line-height:1.2;
    font-weight:unset
}

.infobox tbody tr:hover{
    color:#555;
    background-color:#f0f0f0;
}

.column1{
    width:3rem;
    padding-left:40px}

.column2,.column3{
    width:3rem
}

 

 .column4, .column5{
    width:3rem;
   text-align: center;
}

td.column4, td.column5 {
    text-align: center !important;
}
 .column6{
    width:3rem;
    padding-left:62px
}



@media screen and (max-width:992px)
{
    .sublink {
        width: 100%;
        display: block;
    }
    .sublink-content {
        padding: 3rem 1rem;
    }
    
    td.column4, td.column5 {
        text-align: left !important;
    }

    .infobox table{
        display:block;
    }

    .infobox table>*,table tr,table td,table th{
        display:block
    }
    
    .infobox table thead{
        display:none
    }
    
    .infobox table tbody tr{
        height:auto;
        padding:37px 0;
        
    }

    .infobox tbody {
        width: 100vw;
    }
    
    .infobox table tbody tr td{
        padding-left:50%!important;
        margin-bottom:24px;
        
    }

    
    
    .infobox table tbody tr td:last-child{
        margin-bottom:0
    }
    
    .infobox table tbody tr td:before{
        font-size:14px;
        color:#999;
        line-height:1.2;
        font-weight:unset;
        position:absolute;
        width:40%;
        left:30px;
        top:0
    }
    
    .infobox table tbody tr td:nth-child(1):before{
        content:"Név"
    }
    
    .infobox table tbody tr td:nth-child(2):before{
        content:".NET osztály"
    }
    
    .infobox table tbody tr td:nth-child(3):before{
        content:"Leírás"
    }
    
    .infobox table tbody tr td:nth-child(4):before{
        content:"Szélesség"
    }
    
    .infobox table tbody tr td:nth-child(5):before{
        content:"Memóriabeli méret (btye)"
    }
    
    .infobox table tbody tr td:nth-child(6):before{
        content:"Tartomány"
    }
    
    .column4,.column5,.column6{
        text-align:left
    }
    
    .column4,.column5,.column6,.column1,.column2,.column3{
        width:25%;
        text-align:left;
        
    }
    
    .infobox tbody tr{
        font-size:14px
    }

}

@media(max-width:576px){
    .container-table100{padding-left:15px;padding-right:15px}

}


@media only screen and (max-width: 1340px) {
    .nav-menu{
        position: fixed;
        left: -100%;
        flex-direction: column;
        background-color: #fff;
        width: calc(100vw - 5px);
        
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        top: 0;
        margin-top: 0;
        
    }

    nav {
        background-color: transparent;
    }

    .nav-menu.active {
        left: 0;
        top: 0;
        margin-top: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
        
    }
    .nav-menu a{
        color:black;
        border: 0;
    }
    

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .c_example{
        float: none;
        width: 100%;
        font-size: 1.3vw;
        padding-left: 35%;
        width: 65%;
        margin-bottom: 10px;
        background-color: #d6d6d6;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container{
        
        scroll-snap-type:none;
    }
    .section{
        height: max-content;
    }
    .example{
        font-size: 1.5vw;
    }
    .nagycim{
        font-size: 3vw;
    }
    .alcim{
        font-size: 2vw;
    }
    
}

@media screen and (max-width:1100px){
    .c_example{
        font-size: 2vw;
        padding-left: 25%;
        width: 75%;
        background-color: #d6d6d6;
    }
    .container::-webkit-scrollbar {
        width: 5px;
        z-index: 11;
      }
    .example{
        font-size: 2vw;
    }
    .alcim{
        font-size: 2.5vw;
    }
    .nagycim{
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 800px) {
    .c_example{
        font-size: 2.8vw;
        padding-left: 2%;
        width: 98%;
    }
    .example{
        font-size: 2.5vw;
    }
    .alcim{
        font-size: 4vw;
    }
    .nagycim{
        font-size: 5vw;
    }
}

