html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    padding: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body {
    
    color: white;
    margin: 0;
    padding: 0;
    
    
   
   
    background: url(index_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.header {
    min-height: 100vh;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
    font-weight: 1000;
    text-shadow: 2px 3px 8px rgba(0,0,0,1);
    
}


.container{
    position: relative;
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}
.section{
    position: relative;
    background: black;
    line-height: 4vh;
    font-weight: lighter;
    padding: 40px;
    color: grey;
    height: 50vh;
    text-align: justify;
}
.section p{
    font-size: 2vh;

}
.scroll{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

nav {
    display: flex;
    padding: 1% 6%;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 90%;
    z-index: 9999;
}

.nav-links ul li{
    list-style: none;
    display: block;
    float: right;
    margin-right: 1rem;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links a {
    font-size: 1.5rem;
    text-decoration: none;
    background-color: gray;
    padding: 8px 16px;
    transition: .7s;
    
    
}

.nav-links a:hover {
    padding: 8px 160px 8px 16px;
    
}

